<div class="container py-5">
  <button class="btn btn-link mb-3" routerLink="/recipe">
  </button>
  <div class="card">
    <img
      [src]="recipeDetail.imagen"
      class="card-img-top"
      alt="{{ recipeDetail.nombre }}"
    />
    <div class="card-body">
      <h2 class="card-title">{{ recipeDetail.nombre }}</h2>
      <p><strong>Porciones:</strong> {{ recipeDetail.porciones }}</p>
      <p><strong># Ingredientes:</strong> {{ recipeDetail.ingredientes.length }}</p>
      <p><strong>Tiempo:</strong> {{ recipeDetail.tiempo_minutos }} min</p>
      <h4>Ingredientes ({{ recipeDetail.ingredientes.length }})</h4>
      <ul>
        <li *ngFor="let ing of recipeDetail.ingredientes">
          {{ ing }}
        </li>
      </ul>
      <h4>Pasos ({{ recipeDetail.pasos.length }})</h4>
      <ol>
        <li *ngFor="let paso of recipeDetail.pasos">
          {{ paso }}
        </li>
      </ol>
    </div>
  </div>
</div>
